@media only screen and (max-width: 500px) {
    .body-main:before{
        background-size: 500px 500px;
    }
    #main .welcome{
        margin-top: 70px;
    }
    #main .welcome h1 {
        font-size: 35px;
    }
    #divider .divider-line{
        width: 80%;
    }
    #tagline .left, #tagline .right{
        width: 100%;
        float: unset;
    }
    #tagline .left{height: auto;}
    #tagline .right{
        height: 320px;
        margin-top: 100px;
    }
    #tagline .left p {
        line-height: 45px;
        width: 100%;
        margin: 0;
        color: #ffffff;
        font-weight: 400;
    }
    #contact .form,#contact .con-details{
        width: 100%;
        float: unset;
    }
    #main, #tagline, #contact {
        padding: 70px 0;
    }
    #divider .divider-line .h-line{
        width: 38%;
    }
}

