*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
ul li{
    list-style: none;
}
.body-main{
    
    background-color: #181B20;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.body-main:before {
    content: " ";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 600px;  
    opacity: 0.3; 
    z-index: -1;
    background: transparent url('img/Hand-Shaking.gif') no-repeat center center;
    background-size: 700px 700px;
  }
.container{
    width: 100%;
    margin: 0;
}
.mid{
    width: 85%;
    margin: auto;
}
.margin-top_10{
    margin-top: 10px;
}

/*----------------Header------------------*/
header{
    padding: 18px 0px;
    width: 100%;
}
header .logo{text-align: center;}
.logo img{
    width: 130px;
}

/*----------------Common-Section------------------*/
#main,#tagline,#contact{
    padding: 100px 0;
    overflow: hidden;
}


/*----------------Main------------------*/
#main .welcome h1{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}
#main .welcome .first{
    color: #FDC11F;
}
#main .welcome .second{
    color: #ffffff;
}


/*----------------Tagline------------------*/
#tagline .left,#tagline .right{
    width: 50%;
    height: 460px;
    color: white;
    float: left;
}
#tagline .left p{
    color: rgb(248 248 248);
    font-size: 21px;
    line-height: 40px;
    width: 90%;
    margin: 85px 0px 0px 15px;
}
#tagline .right{
    background: transparent url('img/full.png') no-repeat center center;
    background-size: 100% 100%;
}


/*-------------------Divider---------------------*/
#divider{
    padding: 50px 0px;
}
#divider .divider-line{
    text-align: center;
    position: relative;
    width: 50%;
    margin: auto;
}
#divider .divider-line .h-line{
    float: left;
    border: 1px solid #FDC11F;
    background-color: #FDC11F;
    width: 40%;
    position: absolute;
    top: 50%;
}
#divider .divider-line .h-line.one{left: 0;}
#divider .divider-line .h-line.two{right: 0;}

#divider .divider-line span i{
    font-size: 30px;
    color: #ffffff;
}

/*-------------------Contact---------------------*/
#contact{
    background-color: #1d1d1d00;
}
#contact .form{
    width: 50%;
    float: left;
}

#contact .form form{
    width: 90%;
    margin: auto;
}
#contact .form input{
    width: 100%;
    border: 1px solid #B2BBBC;
    box-sizing: border-box;
    padding: 12px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
#contact .form input[type="submit"]{
    width: 25%;
    border: none;
    background-color: #9b7a00;
    border-radius: 5px;
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
}
#contact .form input[type="submit"]:hover{
    background-color: #d9af14;
    color: white;
}
#contact .form textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 12px 10px;
    border: 1px solid #B2BBBC;
    margin-bottom: 20px;
    border-radius: 5px;
}
#contact .form h1{
    margin-bottom: 13px;
}
#contact .form h1{
    width: 90%;
    margin: 0px auto 22px;
    font-size: 30px;
    font-family: sans-serif;
    color: #FDC11F;
}
.con-details .detail-info{    
    margin-top: 55px;
    padding-left: 100px;
    overflow: hidden;
}
#contact .con-details{
    width: 50%;
    float: left;
}
#contact .con-details .detail-info .item{
    margin-bottom: 30px;
    overflow: hidden;
}
#contact .con-details .item .one{
    width: 20%;
    float: left;
}
#contact .con-details .item .two{
    width: 80%;
    float: left;
}
#contact .con-details .item .one i{
    font-size: 40px;
    color: #FDC11F;
}
#contact .con-details .item .two h2{
    color: #FDC11F;
    font-size: 25px;
    font-family: sans-serif;
    margin-bottom: 10px;
}
#contact .con-details .item .two p{
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 5px;
}

#contact .container .mid{
    overflow: hidden;
}








.con-details .detail-info li{
    text-align: center;
    float: left;
    width: 50%;
    margin: 35px auto;
}
.con-details .detail-info li i{
    margin-bottom: 15px;
    color: #FDC11F;
    font-size: 50px;
}
.con-details .detail-info li p{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    color: #ffffff;
}

